<h3><%= @post.title %></h3>
<h6>By: <%= link_to @post.user.username, @post.user %></h6>
<h6>Posted: <%= @post.created_at.to_fs(:long) %></h6>

<p><%= @post.body %></p>

<ul>
  <li><%= link_to "Edit", edit_post_path(@post) %></li>
  <li><%= link_to "Delete", post_path(@post), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
</ul>

<% if @post.comments.length > 0 %>
  <h3>Comments</h3>
  <%= render @post.comments %>
<% end %>

<%= render 'comments/form' %>